<footer class="footer">
  <div class="wrapper footer__wrapper">
    <div class="footer_order">
      <div class="footer_contribute">
        <span>Checkout the Code</span>
        <a href="https://github.com/JanoschA/gasprice-calculator-web" target="_blank">Angular Frontend GitHub</a>
        <a href="https://github.com/JanoschA/gasprice-calculator" target="_blank">Spring Boot Backend GitHub</a>
      </div>
      <div class="footer_getting_started">
        <span>Getting Started</span>
        <a>Demo</a>
        <a>faq</a>
      </div>
      <div class="footer_contact">
        <span>Contact</span>
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
