<footer class="footer">
  <div class="wrapper footer__wrapper">
    <div class="footer_order">
      <div class="footer_contribute">
        <span>Checkout the Code</span>
        <a href="https://github.com/JanoschA/gasprice-calculator-web">Angular Frontend GitHub</a>
        <a href="https://github.com/JanoschA/gasprice-calculator">Spring Boot Backend GitHub</a>
      </div>
      <div class="footer_getting_started">
        <span>Getting Started</span>
        <a>Demo</a>
        <a>faq</a>
      </div>
      <div class="footer_contact">
        <span>Contact</span>
        <a>Imprint</a>
      </div>
    </div>
  </div>
</footer>
