<main>
  <div class="wrapper overview__wrapper">
    <p>TODO</p>
    <div>
      <h2>Your next estimated order date: <span>MM/DD/YYY</span></h2>
    </div>
    <div>
      <h2>Your next estimated order price: <span>X&euro;</span></h2>
    </div>
    <h2>History / Example</h2>
    <p>TODO: Still dummy values</p>
    <div style="max-height: 400px;">
      <canvas id="GasChart">{{ chart }}</canvas>
    </div>
    <h2>Your bills</h2>
    TODO<br/>
    <p>
      - manage your old bills & change them
    </p>
    <h2>Settings</h2>
    TODO<br/>
    <p>
      - max gas tank volume<br/>
      - maybe concurrency?
    </p>
  </div>
</main>
